.dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 58rem;
  &-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 5.2rem;
    background-color: $red;
    border-radius: 10px;
    padding: 0 15px;
  }

  h2 {
    font-size: 1.8rem;
    color: $white;
    font-weight: 500;
  }

  ul {
    background-color: $whiteTerne;
    width: 100%;
    border-radius: 10px;
    padding: 45px 20px 20px 20px;
    z-index: -1;
    margin-top: -40px;
    li {
      font-size: 1.8rem;
      color: $red;
      line-height: 2.5rem;
    }
  }
}

.big-dropdown {
  max-width: 102rem;
  width: 100%;
  margin: 20px auto;
  @include m1023 {
    margin: 10px auto;
  }
  &-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 5.2rem;
    background-color: $red;
    border-radius: 10px;
    padding: 0 20px;
    @include m1023 {
      margin-top: -30px;
    }

    h2 {
      font-size: 1.8rem;
      color: $white;
      font-weight: 500;
      @include m1023 {
        font-size: 1.3rem;
      }
    }
  }
  &-description {
    margin: -20px 0 20px 0;

    background-color: $whiteTerne;
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding: 45px 20px 20px 20px;
    z-index: -1;
    @include m1023 {
      margin-top: -30px;
    }
    p {
      font-size: 2.4rem;
      color: $red;
      line-height: 2.5rem;
      @include m1023 {
        font-size: 1.2rem;
        line-height: inherit;
      }
    }
  }
}
