.slider {
  position: relative;
  border-radius: 10px;
  max-width: 124rem;
  overflow: hidden;
  max-height: 41.5rem;
  display: flex;
  justify-content: center;
  @include m1023 {
    max-height: 25.5rem;
  }
  img {
    object-fit: cover;
  }
  .prev {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    @include m1023 {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .next {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    @include m1023 {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
