.thumb {
  position: relative;
  height: 34rem;
  width: 34rem;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-color: $red;
  background-position: center;
  h2 {
    color: $white;
    font-size: 1.8rem;
    line-height: 2.5rem;
    position: absolute;
    bottom: 40px;
    left: 20px;
    width: 40%;
  }
  @include m1023 {
    min-height: 25.5rem;
    min-width: 100%;
    max-height: 25.5rem;
    max-width: 33.5rem;
    height: 100%;
    width: 100%;
  }
}
